# Node modules
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.local
.env.development
.env.production
.env.test

# Database files
*.sqlite
*.sqlite-journal
*.db

# Logs
logs/
*.log
log/
pids/
*.pid
*.seed

# Build artifacts
dist/
build/

# Editor and OS-specific files
.DS_Store
.vscode/
.idea/
Thumbs.db